* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: system-ui, sans-serif;
}
button {
  color: inherit;
  font-size: 2rem;
  width: 10rem;
  border: none;
  border-radius: 1rem;
}
footer {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
}
.hidden {
  display: none;
}
#timer > span {
  font-size: 4rem;
}
.focusTimer {
  background-color: #dec1de;
}
.breakTimer {
  background-color: #bed;
}
main {
  height: 100vh;
  max-width: 480px;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.start {
  background-color: #dec1de;
}
.pause {
  background-color: #bed;
}
